.container__table {
  margin: 50px auto;
  width: 1200px;

  .table__wrapper {
    width: 100%;

    .table__column_title {
      font-weight: 500;
      font-size: 17px;
    }
  }
}

.mat-header-cell {
  text-align: center;
}

.mat-row {
  cursor: pointer;
}
